* {

  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
  font-family: 'Trispace', sans-serif;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

select {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 1200px;
  background-color: #000;
}

.uniblok {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  border: 2px solid white;
  border-radius: 0px 0px 25px 25px;
  position: relative;
  height: 400px;
  width: 100%;
  background-color: #051937;
}

.textbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0px;
  border: 2px solid white;;
  border-radius: 25px 25px 0px 0px;
  position: relative;
  height: 150px;
  width: 65%;
  background-color: #051937;
}

.routeblok {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 25%;
  height: 300px;
  margin: 0 auto;
}

.reisvan {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  height: 300px;
  width: 25%;
}

.reisnaar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: 25%;
  height: 300px;
}

.routeform {
  position: relative;
  bottom: 50px;
  left: 50px;
  color: white;

}

.reisvanform {
  position: relative;
  bottom: 50px;
  color: white;
}

.reisnaarform {
  position: relative;
  bottom: 58px;
  right: 50px;
  color: white;
}


button[type=submit] {
  border-radius: 25% 10%;
  position: relative;
  right: 370px;
  top: 40px;
  height: 60px;
  width: 90px;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

[type=submit]:hover {
  background-color: rgb(103, 2, 103);
}

#wittext {
  font-size: 25px;
  color: white;
}

.onderblok {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 600px;

}

.col-2 {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  height: 350px;
  width: 400px;
  background-color: white;
  border: 1px solid;
  border-radius: 8px;
  padding: 5px;
}

.button {
  border-radius: 25% 10%;
  position: relative;
  height: 50px;
  width: 200px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.contact {
  background-image: url("../img/contact_ons.jpg");
  width: 400px;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: lightgoldenrodyellow;
}

#login {
  background-image: url("../img/login_img.jpg");
  width: 400px;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-radius: 7px;
  background-color: lightblue;
}


.login {
  background-color: white;
  color: black;
  border: 2px solid beige;
}

.login:hover {
  background-color: beige;
  color: lightblue;
}

.contactknop {
  background-color: lightgoldenrodyellow;
  color: black;
  border: 2px solid lightsalmon;
}

.contactknop:hover {
  background-color: lightsalmon;
  color: white;
}

.login_welkom {
  position: relative;
  left: 30px;
}

.contact_welkom {
  font-size: 40px;
  position: relative;
  left: 35px;
  top: 0px;
}

.buttonknop {
  left: 100px;
  top: 100px;
}

.buttonknop2 {
  left: 100px;
  top: 150px;
}
form{
  display: flex;
  top: 0px;
  border: 2px solid white;
  border-radius: 0px 0px 25px 25px;
  position: relative;
  height: 500px;
  width: 65%;
}

@media only screen and (max-width: 1350px) {

  button[type=submit] {
    right: 368px;
  }
}

@media only screen and (max-width: 1325px) {

  button[type=submit] {
    right: 345px;
  }
}

@media only screen and (max-width: 1200px) {

  button[type=submit] {
    right: 300px;
  }

  .reisnaarform {
    font-size: 12px;
    bottom: 46px;

  }
}

@media only screen and (max-width: 1100px) {

  button[type=submit] {
    right: 280px;
  }

  .reisnaarform {
    font-size: 11px;
    bottom: 50px;
  }

  .reisvanform {
    font-size: 15px;
  }

  .routeform {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1050px) {

  button[type=submit] {
    right: 270px;
  }

  .reisnaarform {
    font-size: 10px;
    bottom: 46px;
  }


  .reisvanform {
    font-size: 13px;
  }

  .routeform {
    font-size: 13px;
  }
}

@media only screen and (max-width: 1025px) {

  button[type=submit] {
    right: 260px;
  }
}

@media only screen and (max-width: 769px) {

  button[type=submit] {
    right: 190px;
  }

  .reisnaarform {
    font-size: 8px;
    bottom: 53px;
  }


  .reisvanform {
    font-size: 9px;
  }

  .routeform {
    font-size: 9px;
  }

  .contact {
    width: 300px;
    height: 350px;
  }

  #login {
    width: 300px;
    height: 350px;

  }

  .col-2 {
    height: 350px;
    width: 300px;

  }

  .login_welkom {
    font-size: 25px;
    left: 30px;
  }

  .contact_welkom {
    font-size: 30px;
    left: 35px;
    top: 0px;
  }

  .buttonknop {
    left: 50px;
    top: 100px;
  }

  .buttonknop2 {
    left: 50px;
    top: 150px;
  }
}

@media only screen and (max-width: 600px) {

  button[type=submit] {
    right: 0px;
    width: 55px;
    height: 30px;
    right: 25px;
  }

  .reisnaarform {
    font-size: 9px;
    bottom: 0px;
    right: 0px;
    width: 250px;
    height: 20px;
    bottom: 70px;
    left: 30px;
  }


  .reisvanform {
    font-size: 9px;
    bottom: 0px;
    width: 200px;
    height: 20px;
    bottom: 50px;
  }

  .routeform {
    font-size: 9px;
    left: 0px;
    bottom: 0px;
    width: 200px;
    height: 20px;
    bottom: 50px;
  }

  .contact {
    width: 300px;
    height: 200px;
  }

  #login {
    width: 300px;
    height: 200px;

  }

  .col-2 {
    height: 200px;
    width: 300px;

  }

  .login_welkom {
    font-size: 25px;
    left: 30px;
  }

  .contact_welkom {
    font-size: 30px;
    left: 35px;
    top: 0px;
  }

  .buttonknop {
    left: 50px;
    top: 50px;
  }

  .buttonknop2 {
    left: 50px;
    top: 100px;
  }

  .textbox {
    top: 0px;
  }

  #wittext {
    font-size: 15px;

  }

  .uniblok {
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    top: 0px;

  }
}

@media only screen and (max-width: 476px) {

  button[type=submit] {
    right: 0px;
    width: 55px;
    height: 30px;
    right: 25px;
  }

  .reisnaarform {
    font-size: 9px;
    bottom: 0px;
    right: 0px;
    width: 250px;
    height: 20px;
    bottom: 70px;
    left: 30px;
  }


  .reisvanform {
    font-size: 9px;
    bottom: 0px;
    width: 200px;
    height: 20px;
    bottom: 50px;
  }

  .routeform {
    font-size: 9px;
    left: 0px;
    bottom: 0px;
    width: 200px;
    height: 20px;
    bottom: 50px;
  }

  .contact {
    width: 300px;
    height: 200px;
  }

  #login {
    width: 300px;
    height: 200px;

  }

  .col-2 {
    height: 200px;
    width: 300px;

  }

  .login_welkom {
    font-size: 25px;
    left: 30px;
  }

  .contact_welkom {
    font-size: 30px;
    left: 35px;
    top: 0px;
  }

  .buttonknop {
    left: 50px;
    top: 50px;
  }

  .buttonknop2 {
    left: 50px;
    top: 100px;
  }

  .textbox {
    top: -100px;
  }

  #wittext {
    font-size: 15px;

  }

  .uniblok {
    flex-direction: column;
    justify-content: space-evenly;
    height: 350px;
    top: -100px;

  }
  form{
    height: 350px;
  }
}





/* #Off {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#Off:hover {
  background: #ddd;
  color: black;
} */

/* *,
*::before,
*::after {
  box-sizing: border-box;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}
select::-ms-expand {
  display: none;
}
select {
  outline: none;

  } */