* {
    margin: 0;
    padding: 0;

  }

  .space{
    background-image: url("../img/space.jpg");
    width: 400px;
    min-height: 1500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

  }